@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* this here is the root style. it applies to all elements of the html page. it is the self declared default 
style of the designer.  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    scroll-behavior: smooth; 
}  

/* variable declarations. variables are created css constants that are declared and called/ reusable within different 
style elements just by calling them */
:root{
    --blue: #9abec1;
    --black: #333030;
    --red: #e9242e;
}
#check-box, .menu{
display: none;
} 

/* nav bar styling*/
nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
    padding: 1.5rem 0;
    color: white; 
   position: absolute; 
    top: 0; 
   z-index: 2; 
    width: 80%; 
}
.logo{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700px;
    text-transform: uppercase;
}

    /*style for the page logo, that is the two dots beside the logo. Again the '.logo' and '.dot' were both declared 
    here cos this style applies to the child elements of the logo class. So by this the browser understands that
    its to apply the style of both parent and child to the page.  */
.logo .dot{
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: var(--black);
    margin: 0.5rem 0;
   }

 /*this style orders the menu display to flex style  */
.nav-bar-links{
    display: flex;
}

/*this removes the permanent line that comes with the menu links and pushes all menu elemenst to the right.
this line is a default line and cannot be styled by css, it can only be removed and other style manualy added 
by designer.  */
.nav-bar-links a{
    text-decoration: none;
    margin-right: 1rem;
   color: white; 
    
    }
/* this closes the margin space between the last menu element and the page border.  */
.nav-bar-links a:last-child{
    margin: 0rem;
}

/*this styles the color of the menu link to blue on hover only  */
a:hover{
    color: var(--blue);
}
    .nav-bar-links .active{
        color: var(--blue);
    }

/* to add a horizontal line to the link with a transition property. the '.nav-bar-links' class was added 
to this declaration cos the 'a' element is a child under it and what we're declaring here affects all elements
under this tree. if we were only designing the element under one of the 'a' tags then this won't have been 
necessary and we would have instead had to use only either a class or an i.d. the '::after' pseudo element here 
was added to tell browser to add style after the elements contained in a tag. the 'display: block' element 
is what adds the line to the link*/
.nav-bar-links a::after{
    content: "";
    display: block; 
    height: 3px;
    background-color: var(--blue);
   width: 0%;
   transition: all ease-in-out 300ms;
}

/* to add line to the menu link on hover only */
.nav-bar-links a:hover::after{
    width: 100%;
    }

    /* scroll bar styling */
    ::-webkit-scrollbar{
       width: 12px; 
    }

    ::-webkit-scrollbar-thumb{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,6,6,1) 41%, rgba(0,212,255,1) 100%);
        border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(125,6,6,1) 41%, rgba(0,212,255,1) 100%);
}
    ::-webkit-scrollbar-track{
        background: #e4a576;
    }

    /* intro or hero section styling */
    .head{
        background: var(--blue);
        padding: 5rem 10% 0rem 10%;
        position: relative;
        overflow: hidden;
        color: white;
        display: flex;
        align-items: center;
        height: 100vh;
    }
/* image and its background styling */
   .main_bg{
         background: var(--black);
         width: 65rem;
         height: 37rem;
         border-radius: 20rem;
         transform: rotate(-45deg);
         right: -15.3rem;
         top: -10rem;
         position: absolute;
         z-index: 0;
         }

   .main_bg img{
       transform: rotate(45deg);
       height: 35rem;
      margin-left: 7rem;
      }

    .head .intro{
        margin-bottom: 7rem;
        z-index: 1;
        }

    .head .intro h1{
        font-size: 70px;
    }
 
    .head .intro h2{ 
        margin: 1rem 0;
        font-size: 35px;
    }

    .head .intro .button{
        background: var(--red);
        color: white;
        border: none;
        cursor: pointer;
        padding: 0.7rem 1rem;
        border-radius: 3px;
        box-shadow: 10px 10px 24px -1px rgba(123, 123, 123, 0.75);
    }
    .scroll{
        position: absolute;
        bottom: 2rem;
        z-index: 1;
       }
    .scroll a{
        color: var(--black);
        text-decoration: none;
        display: flex;
        align-items: center;
    }   

    .scroll a:hover{
        color: var(--black);
    }
    
/* brands section styling */
    .brands{
       min-height: 100vh;
        padding: 7rem 10%;
        position: relative;
        overflow: hidden;
    }

    .brands .bottom_image{
       position: absolute;
       right: -15rem; 
       bottom: -4rem; 
       z-index: 2; 
    }

    .brand{
        display: flex;
      align-items: center;
        justify-content: space-between;
        margin-bottom: 10rem; 
    }
    .brand:last-child{
        margin-bottom: 0;
    }
    .brand h2{
        font-size: 60px;
        color: var(--black);
        margin-bottom: 1rem;
    }
    .brand img{
        height: 15rem;
    }
    .brand .img{
        flex: 1;
    }
    .brand .desc{
        flex: 1;
    }
    .row_reverse{
        flex-direction: row-reverse;
    }
    .brand.row_reverse .img{
        display: flex;
        justify-content: flex-end;
    }
    /* footer styling*/
    footer{
        background: var(--black);
        color: white;
        padding: 3rem 0;
        text-align: center;
    }
    footer .logo{
        justify-content: center;
        margin-bottom: 2rem;
    }
    footer .logo .dot{
        background: var(--blue);
    }
    footer h3{
        /* font-size: 10px; */
        color: var(--blue);
        margin: 0 auto 1rem auto;
    }
    footer p{
        width: 50%;
        margin: 0 auto 1rem auto;
        color: rgb(156, 156, 156);
    }
    /* footer social icons styling */
    footer .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .socials a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--blue);
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .socials a:last-child{
       margin-right: 0;
    }
    footer .socials svg{
        color: white;
    }

    /* mobile responsive styling */
   @media (max-width: 750px){
       /* nav styling */
       .nav-bar-links{
           position: fixed;
           top: 0;
           /* this hides the nav bar and only 
           displays it when checkbox is clicked */
           right: -250px;

           height: 100vh;
           width: 250px;
           background: rgb(20, 20, 20);
           flex-direction: column;
           justify-content: space-evenly;
           align-items: center;
           z-index: 98;
           transition: all ease-in-out 500ms;
       }
       /* menu class styling for checkbox */
       .menu{
           cursor: pointer;
           background: var(--black);
           width: 50px;
           height: 50px;
           border-radius: 50%;
           z-index: 99;
           position: fixed;
           right: 2.5rem;
           display: flex;
           align-items: center;
           justify-content: center;
       }
       #check-box:checked ~ .nav-bar-links{
           right: 0;
       }
       /* coffee cup body section styling */
       .head .intro{
           margin-bottom: 0;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           height: 90vh;
           text-align: center;
       }
       .head .intro h1{
           font-size: 50px;
       }
       .head .intro h2{
           font-size: 25px;
       }
       .main_bg{
           width: 32rem;
           height: 12rem;
           right: -13rem;
           top: 14rem;
           display: flex;
           align-items: center;
       }
       .main_bg img{
           height: 14rem;
           margin-left: 1.5rem;
          }
          /* brands styling */
          .brand{
              flex-direction: column;
             align-items: flex-start; 
             margin-bottom: 5rem; 
          }
          .brand h2{
              font-size: 25px;
          }
          .brand img{
              height: 9rem;
             margin-bottom: 2rem; 
          }
          .brands .bottom_image{
              right: -17rem;
              bottom: -9rem;
          }
          /* footer styling */
          footer p{
              width: 80%;
          }
   }
